/* stylesheet for web-contact-converter frontend. Collin Sparks, Feb 2021 */

:root {
  --primary-background-color: #275BBA;
  --dark-adjacent-color: #112346;
  --light-complimentary-color: #EDE9C3;
  --accent-color: #CC2D38;
}

body {
  background-color: var(--primary-background-color);
  font-size: 1.2em;
  min-height: 100vh;
  font-family: Arial;
}

header {
  display: flex;
  flex-direction: column;
}

#delete-all-wrapper {
  align-self: flex-end;
  margin: 15px 5vw 0px 0px;
}

#content {
  min-height: 100vh;
}

#upper {
  display: flex;
  flex-direction: row;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 3vh;
  height: 7vh;
  padding: 1vh;
  margin: 2vh 2vw 0px 2vw;
}

.banner-item {
  padding: 0px 2vw 0px 2vw;
}

#banner-title {
  font-size: 1.3em;
  font-style: italic;
}

#instructions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin: 5vh 0vw 5vh 10vw;
}

#instructions {
  margin-top:
  text-align: center;
  font-size: 1.1em;
  padding: 10px;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5vh 10vw 0vh 10vw;
}

#textarea {
  /* color: black;
  background-color: #BCAC80; */
  font-size: .9em;
  width: 30vw;
  height: 35em;
}

#input-button-wrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  /* width: 50vw; */
  justify-content: space-between;
}

.input-button {
  height: 3em;
  width: 7em;
  margin: 15px 2vw;
}

#table-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  /* background-color: green; */
  /* margin: 3vh 2vw 0px 2vw; */
}

#select-all-wrapper {
  display: flex;
  justify-content: center;
}

.table-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-row {
  background-color: var(--accent-color);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}

.table-field {
  /* background-color: var(--light-complimentary-color); */
  width: 12vw;
  font-size: .7em;
  padding: 2px 0px;
  white-space: nowrap;
  border-radius: 2.5px;
  color: white;
}

.in-head {
  font-size: 1em;
  color: var(--light-complimentary-color);
  text-shadow:
  1px 1px var(--dark-adjacent-color),
  -1px 1px var(--dark-adjacent-color),
  1px -1px var(--dark-adjacent-color),
  -1px -1px var(--dark-adjacent-color);
}

.table-section {
  padding: 0px;
}

.checkbox {
  display: flex;
  justify-content: center;
}

#test {
  background-color: yellow;
  padding-right: 33%;
}

#delete-wrapper {
  display: flex;
  justify-content: center;
}

#lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 10vh;
  background-color: var(--dark-adjacent-color);
  border-radius: 10px;
  margin: 5vh 0px 2vh 0px;
}

#footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 2em;
  width: 100vw;
}

.my-contact {
  margin: 0px 2em 0px 2em;
}

.underline {
  text-decoration: underline;
}

.secondary {
  background-color: var(--light-complimentary-color);
  color: var(--dark-adjacent-color);
}

.accent {
  background-color: var(--accent-color);
}

.placard {
  padding: 10px;
  border-radius: 10px;
  box-shadow: -10px 10px var(--dark-adjacent-color);
}
