[submodule "web_contact_converter/kidslinkedConverter"]
	path = web_contact_converter/kidslinkedConverter
	url = https://github.com/spark-c/kidslinkedConverter
[submodule "kidslinkedConverter"]
	path = kidslinkedConverter
	url = https://github.com/spark-c/kidslinkedConverter
