<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Contact Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" type='text/css' href="../static/stylesheets/style.css" />
    <script src='../static/script.js'></script>
  </head>

  <body>
    <header>
      <div id='banner'>
        <div id='banner-decor'>
          Companies in Session: {{ total_companies }}
        </div>
      </div>
    </header>

    <div id='content'>
      <div id='instructions-wrapper'>
        <div id='instructions'>
          Use this tool in order to create a spreadsheet from contact information.
          There is a box somewhere on this page that you can paste lots of info into.
          Once you do that, hit the continue button to generate a spreadsheet
          that you will be able to download.
        </div>
      </div>

      <div id='input-wrapper'>
        <textarea id='textarea'>This is placeholder text.</textarea>
        <div id='input-button-wrapper'>
          <div class='button-wrapper' id='compile-wrapper'><button id='compile-button' type='button' onclick='send_request()' class=input-button name='compile'>Compile</button></div>
          <div class='button-wrapper' id='generate-wrapper'><button id='generate-button' type='button' onclick='generate()' class=input-button name='generate'>Generate Sheet</button></div>
        </div>
      </div>

      <div id="table-wrapper">
        <div id="table-header" class='table-section'>
          <div class='table-row'>
            <div id='select-all-wrapper' class='table-field'><button id='select-all' class='table-button' name='select-all' onclick='select_toggle()'>Select All</button></div>
            <div class='table-field in-head'>Company</div>
            <div class='table-field in-head'>Name</div>
            <div class='table-field in-head'>Email</div>
            <div class='table-field in-head'>Phone</div>
            <div class='table-field in-head'>Address</div>
            <div id='delete-wrapper' class='table-field'><button id='delete' class='table-button' name='delete'>Delete Selected</button></div>
          </div>
        </div>
        <div id="companies-wrapper" class='table-section'>
          <div class='table-row'>
            <div name='select-wrapper' class='table-field checkbox'><input id='test' type='checkbox' name='selected' /></div>
            <div name='name' class='table-field'>AmCorp</div>
            <div name='contact' class='table-field'>Joe Dude</div>
            <div name='email' class='table-field'>jdude@amcorp.com</div>
            <div name='phone' class='table-field'>333-555-6256</div>
            <div name='address' class='table-field'>6023 Amcorp Way Arugula, CA 95234</div>
            <div name='spacer' class='table-field'></div>
          </div>
          <!-- append companies here with javascript -->
        </div>
      </div>
    </div>
    <!-- <footer><p id='footer'>Collin made this!</p></footer> -->

  </body>

</html>
